services:
  frontend:
    build:
      context: ./frontend
    environment:
      - REACT_APP_API_URL=https://shose.duckdns.org/api
    networks:
      - app-network

  backend:
    build:
      context: ./backend
    environment:
      - PORT=5000
      - MONGO_URI=mongodb://mongo:27017/ecommerce
      - JWT_SECRET=your_jwt_secret_key_here_change_it
    volumes:
      - ./backend/Uploads:/app/Uploads
    networks:
      - app-network

  mongo:
    image: mongo:latest
    volumes:
      - mongo-data:/data/db
    networks:
      - app-network

  nginx:
    image: nginx:alpine
    container_name: nginx-proxy
    restart: unless-stopped
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - certbot-etc:/etc/letsencrypt
      - certbot-var:/var/lib/letsencrypt
      - certbot-web:/var/www/certbot
      - ./backend/Uploads:/app/Uploads
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - frontend
      - backend
    networks:
      - app-network

  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - certbot-etc:/etc/letsencrypt
      - certbot-var:/var/lib/letsencrypt
      - certbot-web:/var/www/certbot
    depends_on:
      - nginx
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h; done;'"

volumes:
  mongo-data:
  certbot-etc:
  certbot-var:
  certbot-web:

networks:
  app-network:
    driver: bridge
