services:
  frontend:
    build:
      context: ./frontend
    environment:
      - REACT_APP_API_URL=https://shose.duckdns.org/api
    networks:
      - app-network

  backend:
    build:
      context: ./backend
    environment:
      - PORT=5000
      - MONGO_URI=mongodb://mongo:27017/ecommerce
      - JWT_SECRET=your_jwt_secret_key
    volumes:
      - ./backend/Uploads:/app/Uploads
    networks:
      - app-network

  mongo:
    image: mongo:latest
    volumes:
      - mongo-data:/data/db
    networks:
      - app-network

  nginx:
    image: nginx:latest
    container_name: nginx-proxy
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - certbot-etc:/etc/letsencrypt
      - certbot-var:/var/lib/letsencrypt
      - certbot-web:/var/www/certbot
      - ./backend/Uploads:/app/Uploads
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - frontend
      - backend
    networks:
      - app-network

  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - certbot-etc:/etc/letsencrypt
      - certbot-var:/var/lib/letsencrypt
      - certbot-web:/var/www/certbot
      - ./backend/Uploads:/app/Uploads
    command: certonly --webroot --webroot-path=/var/www/certbot -d shose.duckdns.org --email selhawary2025@gmail.com --agree-tos --no-eff-email

volumes:
  mongo-data:
  certbot-etc:
  certbot-var:
  certbot-web:

networks:
  app-network:
    driver: bridge

